<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}{% endblock %}
    <link
      rel="stylesheet"
      href="css"
    />

    <!--この下に読み込むCSSファイル、fontを読み込むリンクを入れます-->
   <link rel="stylesheet" href="/css/login.css">
   <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
  
  <body>
    {% block body %}{% endblock %}
    </div>
  </body>
</html>