<div id="delete-channel-modal" class="modal">
  <div class="modal-content">
   <div class="modal-header">
    <h5>本当に削除しますか？</h5>
    <span class="modalClose" id="delete-page-close-btn">×</span>
   </div>
   <div class="modal-body">
     <div class="modal-delete-comment">
      <p>削除ボタンを押すとチャンネルが消えます</p>
      <p>本当によろしいですか？</p>
   </div>
   <div class="delete-button">
    <a id="delete-confirm-link">
    <button id="delete-channel-confirmation-btn">削除</button>
    </a>
   </div>
  </div>
 </div>