* {
  float: none;
  position: static;
  /* フォントを変更 */
  font-family: "Fredoka One", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  width: 100vw;
  color: var(--carbon);
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
/*
  position: absolute;
  left: 42.13%;
  right: 41.37%;
  top: 10.07%;
  bottom: 84.32%;
  
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 58px;*/
  /* ボックスの高さと同一 */
  
  display: flex;
  align-items: center;
  
  color: #1D1C1D;
  font-weight: bold;
  font-size: ;
}



#add-channel-btn {
  position: absolute;
  width: 300px;
  height: 50px;
  left: 600px;
  top: 150px;

  background: var(-blue);
}

input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

textarea {
  resize: none;
  height: 100%;
  width: 100%;
  letter-spacing: 0.1em;
  font-size: 16px;
}

input {
  letter-spacing: 0.1em;
}

ul {
  padding-top:10px;
  padding-bottom:10px;
  margin: 130px 0px 100px 0px
}

ul li{
  padding-top:10px;
  padding-bottom:10px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--snow);
}

input:hover,
button:hover {
  cursor: pointer;
}

button {
  color: var(--snow);
  border: none;
  border-radius: 999px;
  padding: 0.5em 3em;
  margin: 16px auto;
}

widt.detail_backgraund{
  position: absolute;
 h: 1440px;
  height: 1024px;
  left: 16px;  
  top: 0px;
}

.basic-btn {
  background-color: var(--navy);
}

.basic-btn:hover {
  background-color: var(--carbon);
}

.smaller-btn {
  margin: 0;
  padding: 0.2em 3em;
  font-size: 16px;
}

button.pink {
  background-color: var(--baby_pink);
}

button.pink:hover {
  background-color: var(--middle_pink);
}

button.green {
  background-color: var(--tiffany_green);
}

button.green:hover {
  background-color: var(--middle_green);
}

.main-container {
  min-height: 100vh;
  padding-left: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

