:root {
  /* サンプルアプリの色 */
  --baby_pink: #caaca6;
  --middle_pink: #c18a80;
  --dark_pink: #944d74a9;
  --tiffany_green: #4da49c;
  --middle_green: #3a7c76;
  --dark_green: #2e5d58;
  --snow: #ffffff;
  --wood: #7e5a3eb3;
  --carbon: #3e4149;
  --navy: #4e5b66;
  --ash_grey: #f0f0f0;
  /* 追加 */
  --pink: #FC71A6;
  --dark_gray: #525252; 
  --light_blue: #53A1EB; 
  --blue: #076DCE;
  --white: #FFFFFF; 
  --beige: #F6F4E8;
  --ocean_blue: #7FC2DC; 
  --grey: #616061;
  --sand_beige: #F6E2C8; 
  --black: #000000;
}
