.modal{
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(197, 236, 246, 0.3);
}

/* モーダル本体 */
.modal-content{
  margin: auto;
  margin-top: 20vh;
  width: 686px;
  height: 477px;
  border-radius:20px;
  background-color: var(--white);
  filter: drop-shadow(4px 6px 0px #525252);
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* チャンネルを追加、本当に削除しますか？、チャンネル変更 */
.modal-header h1 {
  margin: 1rem 0;
  margin: auto;
}

.modal-header {
  position: absolute;
  top: 0;
  height: 80px;
  width: 100%;
  background: var(--ocean_blue);
  border-radius: 20px 20px 0 0;
  color: ver(--black);
  display: flex;
  align-items: center;
  text-align: center;
}

.modal-header h5 span {
  z-index: 4;
}

.modal-header h5 {
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
}

.modalClose {
  font-size: 2rem;
  margin-right: 10px;
}

/* 表示カーソルの変更 */
.modalClose:hover {
  cursor: pointer;
}

/* チャンネル名、削除ボタンを押すとチャンネルが消えます、本当によろしいですか？ */
/*　チャンネル名を入力してください */
.modal-body {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black);
  margin: auto;
}

.modal-delete-comment {
  margin-top: 20%;
}

.channel-from-input {
  position: absolute;
  z-index: 5;
  width: 526px;
  height: 72px;
  left: 80px;
  top: 100px;
  background-color: var(--beige);
  margin-top: 92px;
  margin-bottom: 48px;
  border-radius: 20px;
  color: var(--black);
}

#bar{
  height: 39px;
  width: 32px;
}

.modal-body button {
  background-color: var(--light_blue);
  margin-top: 100px;
}

.modal-body button:hover {
  background-color: var(--blue);
}

@media screen and (max-width: 639px) {
  .modal-content {
    margin: 35% auto;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .modal-content {
    width: 95%;
  }
  .modal {
    padding-left: 80px;
  }
}